.greeting{
    display: flex;
    color: var(--color-white);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.text{
    margin-left: 0.5rem;
    outline: none;
    width: 100%;
    background-color: transparent;
    color: var(--color-white);
}