.greeting{
    width: 34rem;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--color-white);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.text{
    margin-left: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    color: var(--color-white);
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    flex: 1 1 auto;
}

.text::after{
    content: '';
    display: block;
    
    border: 1px solid red;
}